@font-face {
    font-family: headings;
    src: url(../Fonts/Funsized-gJEP.ttf);
}

.container1, .container2 {
    background-color: #000000;
}

nav {
    font-family: headings;
}

nav h1 {
    color: khaki;
}

.content {
    height: calc(100% - 100px);
}

.content h1, .content h2, .button-container {
    font-family: "Mona Sans", sans-serif;
    font-weight: 600;
    cursor: url("../Other/Plane_Cursor1.png"),auto;
}

.headings {
    left: 28%;
    color: ivory;
}

span {
    font-family: headings;
    background: linear-gradient(to right, #1D77CF 34%, #0C2ECF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-container button:hover {
    transform: scale(0.9);
    cursor: url("../Other/Plane_Cursor1.png"),auto;
}

.image-container {
    top: -28%;
    left: 17%;
}

.offer {
    font-family: headings;
    left: 35%;
}

.container3 {
    height: 200vh;
}

.features, .more {
    font-family: headings;
}

.features-text {
    font-family: "Mona Sans", sans-serif;
}